__pycache__/
*.pyc
.env
.venv
.envrc
.mypy_cache/
.idea/
.vscode/
.DS_Store
test.md
# Python build artifacts
build/
dist/
sandbox/
*.egg-info/
# Jupyter
.ipynb_checkpoints/
# OS
Thumbs.db
ehthumbs.db
pytest-cache-files-g3zwhoi8/
tagwriting.spec